.content-container {
    padding: 0 20px;
    margin: 1rem auto;
    max-width: 1200px;
    width: 100%;
    box-sizing: border-box;
}

.pop-card {
    @apply shadow-md rounded-sm transition-transform transform hover:scale-95;
}

.turtle-bg-green {
    @apply bg-green-50 text-gray-800;
}
